apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-conversao-distancia
spec:
  replicas: 1
  selector:
    matchLabels:
      app: devops-conversao-distancia
  template:
    metadata:
      labels:
        app: devops-conversao-distancia
    spec:
      containers:
      - name: devops-conversao-distancia
        image: hmajr/desafio_conversao-distancia:v1
        resources:
          limits:
            memory: "256Mi"
            cpu: "500m"
        ports:
        - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: devops-conversao-distancia
spec:
  selector:
    app: devops-conversao-distancia
  ports:
  - port: 80
    targetPort: 5000
    nodePort: 30000
  type: NodePort
